In [2]:
import pandas as pd

In [3]:
 weather_Data = {
     'day' : ['1/1/2023','1/2/2023','1/3/2023','1/4/2023','1/5/2023'],
     'tempreature':[32,19,26,15,26],
     'windspeed':[6,7,2,4,2],
     'event' : ['sunny','rainy','sunny','rainy','sunny']
 }
df = pd.DataFrame(weather_Data)  
print(df)

        day  tempreature  windspeed  event
0  1/1/2023           32          6  sunny
1  1/2/2023           19          7  rainy
2  1/3/2023           26          2  sunny
3  1/4/2023           15          4  rainy
4  1/5/2023           26          2  sunny

In [4]:
df = pd.read_csv("weather_data.csv")

In [5]:
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.shape

(6, 4)

In [7]:
rows,coulmn = df.shape
print("rows : " ,rows,'\n','coulmns : ',coulmn )

rows :  6
 coulmns :  4

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [10]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [12]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [15]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [16]:
type(df['event'])

pandas.core.series.Series

In [51]:
df[['event','day']]

   event       day
0  sunny  1/1/2023
1  rainy  1/2/2023
2  sunny  1/3/2023
3  rainy  1/4/2023
4  sunny  1/5/2023

In [29]:
df['temperature'].max()

35

In [31]:
df.temperature.mean()

30.333333333333332

In [32]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [17]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [18]:
df[df.temperature ==  df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [38]:
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [41]:
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [63]:
df.set_index('day',inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [46]:
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [66]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny